<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="at.sunplugged.celldatabaseV2"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://at.sunplugged.celldatabaseV2.rcp.main/at.sunplugged.celldatabasev2.rcp.main.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="at.sunplugged.celldatabaseV2">
         </property>
      </product>
   </extension>

</plugin>
